@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
	background: linear-gradient(to bottom, #FFFFFF, #00B4D8, #03045E) !important;
        height: 100vh;
        margin: 0;
		font-family: 'Source Sans Pro', sans-serif !important;
		border: 1px black;
}

.daora2{
	display: flex;
	flex-direction: row;
	text-align: center;
}

header {
	background-color: #03045E;
	padding: 23px;
    text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	text-shadow: -1px 1px 3px black,                    
				  1px 1px 3px black,                  
			 	  1px 1px 3px black;
}

header div img{
	width: 130px;
	height: 60px;
	margin-top: -7px;
}

header div{
	width: 45px;
	height: 45px;
}

nav{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	border: 1px black;
}

.link-hover {
	position: relative;
	text-decoration: none;
  }
  
  .link-hover::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 100%;
	height: 2px;
	background-color: white;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	border: 1px black;
  }

  .link-hover:hover::after {
	opacity: 1;
  }

main {
	padding: 20px;
}

h1 {
	font-size: 36px;
	color: #FFFFFF;
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
}

.daora{
	font-size: 20px;
	line-height: 1.5;
	line-break: auto;
	color: #FFFFFF;
	text-align: justify;
	padding-right: 80px;
	padding-left: 20px;
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
}

.daora3{
	padding-right: 20px;
	padding-top: 23px;
}
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 200px;
  }
  
  form {
	font-family: 'Source Sans Pro', sans-serif !important;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #00B4D8;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
  }
  
  h2 {
	margin-bottom: 20px;
  }
  
  label {
	margin-bottom: 10px;
	font-family: 'Source Sans Pro', sans-serif !important;
	color: white;
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
  }
  
  input, textarea {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 100%;
  }
  
  button {
	background-color: #007bff;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
  }
  
  button:hover {
	background-color: #0062cc;
  }

  .table-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	color: white;
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
  }
  
  table {
	border-collapse: collapse;
	width: 80%;
  }
  
  th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
	background-color: #023E8A;
  }
  
  th {
	background-color: #03045E;
	color: white;
  }
  
  img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .imagem {
	float: left;
	margin-right: 20px;
  }
  
  .texto {
	float: right;
	width: 50%;
  }

  .sub {
	color: white;
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
	font-family: 'Source Sans Pro', sans-serif;
  }

  .texto-com-fundo {
	background-image: url(../imgs/0b91b591dbd426d0c244cbf0c46d3f35-reciclagem-icon-svg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-blend-mode: multiply;
	color: white;
	text-shadow:  1px 1px 2px black,                    
				  1px 1px 2px black,                  
			 	  1px 1px 2px black;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: justify;
  }

  img{
	opacity: 70%;
  }

  video {
	width: auto;
	height: 600px;
  }
  
